
/*About Section Styling*/
.about {
    background-color: #849FFF;
    z-index: 5;
    position: relative;
    padding: 3em 0 15em 0;
}

.about:before, .about:after{
    background: #849FFF;
    top: 0;
    content: "";
    display: block;
    height: 50%;
    width: 50%;
    position: absolute;
    z-index: -1;
}


.about:before{
    transform: skewY(-10deg) translateY(-150px);
    transform-origin: 100% 0;
    right: 0;
}

.about:after{
    transform: skewY(10deg) translateY(-150px);
    transform-origin: 0 100%;
    left: 0;
}

.about .img img {
    width: 675px;
    box-shadow: -10px 0 15px 0 rgba(0,0,0,0.15);
}

.about .text {
    margin-right: -5em;
    z-index: 5;
    background-color: #FFFFFC;
    padding: 35px;
}

/*Card Section Styling*/
.cards {
    z-index: 10;
    position: relative;
}

.cards:before, .cards:after {
    background:  #FFFFFC;
    top: 0;
    content: "";
    display: block;
    height: 50%;
    width: 50%;
    position: absolute;
    z-index: -1;
}

.cards:before {
    transform: skewY(10deg) translateY(-120px);
    transform-origin: 0 100%;
    right: 0;
}

.cards:after  {
    transform: skewY(-10deg) translateY(-120px);
    transform-origin: 100% 0;
    left: 0;
}

.cards .container{
    position: relative;
    top: -120px;
    z-index: 10;
}

.cards .flex {
    flex-direction: column;
}

.cards button {
    background-color: rgba(0,0,0,0);
    color: #001001;
    border: 2px solid #001001;
}

.card {
    padding: 35px;
    padding-bottom: 50px;
    width: 70%;
    margin-top: -1em;
    background-color: #FFFFFC;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
}

.cards button:hover {
    box-shadow: 0 -50px 0 0 #001001 inset;
    color: #FFFFFC;
}

.card:first-child {
    background-color: #1C3FBD;
    color: #FFFFFC;
}

.card:first-child button, .card:nth-child(2) button{
    border: 2px solid #FFFFFC;
    color: #FFFFFC;
}
.card:first-child button:hover, .card:nth-child(2) button:hover {
    box-shadow: 0 -50px 0 0 #FFFFFC inset;
    color: #001001;
}


.card:nth-child(even){
    align-self: flex-end;
}

.card:nth-child(2) {
    background-color: #4868DB;
    color: #FFFFFC;
}

.card:nth-child(3) {
    background-color: #849FFF;
}


@media(max-width: 1024px) {
    .about {
        text-align: center;
    }
    .about .img img {
        width: 50%;
    }

    .about .img {
        width: 100%;
    }

    .about .text {
        width: 100%;
        margin: -1.5em;
        background: none;
        padding: 0;
    }

    .about h2 {
        color: white;
    }

    .about .flex {
        justify-content: center;
        flex-direction: column-reverse;
    }

}

@media(max-width: 768px) {

    .about {
        padding:0 0 10em 0;
        margin-top: 1.5em;
        text-align: center;
    }

    .about:before{
        transform: skewY(-10deg) translateY(-100px);
        transform-origin: 100% 0;
        right: 0;
    }
    
    .about:after{
        transform: skewY(10deg) translateY(-100px);
        transform-origin: 0 100%;
        left: 0;
    }

    .card {
        width: 85%;
    }
}

@media(max-width: 500px) {
    .card {
        width: 98%;
    }
}