@import
    url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

/*Style reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Basic Styles*/
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    color: #001011;
    height: auto;
}

.container {
    max-width: 1400px;
    width: 85%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center{
    align-items: center;
}

.align-top {
    align-items: top;
}

h1, h2, h3, h4 {
    font-family: 'Cinzel Decorative', cursive;
    padding-bottom: 1em;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

p {
    padding-bottom: 1em;
}

button {
    background-color:#1C3FBD;
    cursor: pointer;
    color: #FFFFFC;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    font-size: 0.8em;
    border: none;
    margin-top: 1em;
    padding: 0.5em 1em;
    transition: box-shadow 0.4s, color 0.4s;
}

button:hover {
    box-shadow: 0 -50px 0 0 #FFFFFC inset;
    color: #001011;
}

a {
    text-decoration: none;
    color: white;
}

/*Header Styles*/
header {
    background: #4568DC;
    padding-top: 1em;
}

header a {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFC;
}

header a:hover {
    transform: scale(1.1);
    transition: all 0.23s;
}

header .leftLinks, header .rightLinks {
    width: 40%;
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid #FFFFFC;
    padding: 1em 0;
}

.disclaimer {
    background-color: #4568DC;
    color: #FFFFFC;
    font-size: 0.8em;
    letter-spacing: 0.15em;
}

.mobileNav {
    display: none;
  }

/*Global head styling*/

.head {
    background:#4568DC;
    background: -webkit-linear-gradient(to bottom, #4568DC, #B06AB3);
    background: linear-gradient(to bottom, #4568DC, #B06AB3);
    padding: 5em 0 5em 0;
    color: #FFFFFC;
}


/*Footer Styling*/

footer {
    z-index: 5;
    position: relative;
    margin-top: -5em;
    padding: 3em 0;
    background:#4568DC;
    background: -webkit-linear-gradient(to top, #4568DC, #B06AB3);
    background: linear-gradient(to top, #4568DC, #B06AB3);
    color: #FFFFFC;
}

footer:before, footer:after {
    background:  #FFFFFC;
    top: 0;
    content: "";
    display: block;
    height: 40%;
    width: 50%;
    position: absolute;
    z-index: -1;
}

footer:before {
    transform: skewY(10deg) translateY(-120px);
    transform-origin: 0 100%;
    right: 0;
}

footer:after  {
    transform: skewY(-10deg) translateY(-120px);
    transform-origin: 100% 0;
    left: 0;
}

footer .container {
    padding-top: 10em;
}

@media (max-width: 1024px) {
    
    .flex {
        flex-wrap: wrap;
    }
}
@media(max-width: 768px) {


    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    ul { 
        list-style: none; 
    }
    .desktop {
        display: none;
    }
    header.mobileNav{
        display: block;
        position: sticky;
        top: 0px;
        z-index:1000;
        padding: 0.5em 0;
    }

    .menuIcon {
        height: 25px;
        width: 35px;
        margin: 3%;
        position: absolute;
        top: 20%;
        right: 3%;
        display: inline-block;
        vertical-align: middle;
        z-index: 20;
      }
      
      .menuIcon span {
        display: block;
        background: #FFFFFC;
        width: 100%;
        height: 4px;
        margin-top: -2px;
        position: absolute;
        left: 0;
        top: 50%;
      }

    .menuIcon:before,
    .menuIcon:after {
        content: "";
        display: block;
        background: #FFFFFC;
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        transform-origin: center center;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }

    .menuIcon:before {
        top: 2px;
        margin-top: -2px;
    }

    .menuIcon:after {
        bottom: 2px;
        margin-bottom: -2px;
    }

    .menuShown .menuIcon span {
        background: transparent;
      }
      
    .menuShown .menuIcon:before {
        top: 50%;
        transform: rotate(45deg);
        background: #001001;
      }
      
    .menuShown .menuIcon:after {
        bottom: 50%;
        transform: rotate(-45deg);
        background: #001001;
      }

      .mobile.menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 75%;
        min-height: 80vh;
        text-align: center;
        padding-top: 112px;
        background: #FFFFFC;
        z-index: 10;
        transition: all .4s ease-in-out;
        transform: translateX(100%);
        box-shadow: -10px 0 15px 0 rgba(0,0,0,0.15);
      }
      
      .menuShown .mobile.menu {
        transform: translateX(0);
      }

      

      .hidden {
        width:0px!important;
        overflow:hidden;
    }
      
      .mobile .menuIcon {
        display: block;
      }

      .menu ul li a {
          color: #001001;
      }

      .menu ul li {
        padding-bottom:1em;
      }

      footer {
          margin-top: -10em;
          text-align: center;
      }

      footer .flex {
          justify-content: center;
      }

      footer div {
          margin-bottom: 1em 0;
          width: 100%;
      }

}
